<div class="container">
    <section class="car-details">
        <div class="carImgDetails">
            <!------------- name and type of car ------------->
            <div class="carAndType">
                <p class="name">Honda Civic</p>
                <p class="type">standard</p>
            </div>
            
            <div class="car">
                <div class="car-img" >
                    <!-- image  goes here -->
                </div>

                <div class="details">'
                    <!-- details goes here -->
                    <!------------ car specs ------------>
                    <div class="specifics">
                        <div class="specs user">
                            <img src="/assets/user.svg" alt="" class="spec-img">
                            <p>4</p>
                            <span class="tooltiptext">5 adult passengers</span>
                        </div>
    
                        <div class="specs luggage">
                            <i class="fa fa-suitcase" aria-hidden="true"></i>
                            <p>2</p>
                            <span class="tooltiptext">2 large bags</span>
                        </div>
    
                        <div class="specs door">
                            <img src="/assets/doors.svg" alt="" class="spec-img">
                            <p>5</p>
                            <span class="tooltiptext">5 doors</span>
                        </div>

                        <div class="specs door">
                            <i class="fas fa-snowflake"></i>
                            <p>A/C</p>
                            <span class="tooltiptext">5 doors</span>
                        </div>

                    </div>
                       <!------------ car specs ends here ------------>
                  
                    <div class="price-Includes">
                        <p style="color:rgb(12, 47, 85);">Included in the price:</p>
                    </div>

                    <div class="included">
                        <ul>
                            <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;</i>Price Gourantee</li>
                            <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;</i>Thef Protection</li>
                            <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;</i>Free Cancellation</li>
                        </ul>

                        <ul class="second">
                            <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;</i>Instantly Confirmed</li>
                            <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;</i>Third Party Liability</li>
                            <li><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;</i>Damage Waiver</li>
                        </ul>
                    </div>

                    <div class="review">
                        <span class="review-sum">4.7</span>
                        <p>Excellent</p>
                    </div>
                </div>
            </div>
        </div>
      

        <div class="driver-details"></div>
    </section>

    <!------------- price summary and location ------------->
    <section class="confirm-payment">
        <div class="location">

        </div>
        
        <div class="price-summary">
            <button class="bookNow">Book Now</button>
        </div>
    </section>
</div>