<footer id="footer">
    <div class="company">
        <h4>Company</h4>
        <ul>
            <li><a href="">About Us</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">About Us</a></li>
        </ul>
    </div>

    <div class="getHelp">
        <h4>Get Help</h4>
        <ul>
            <li><a href="">FAQ</a></li>
            <li><a href="">Shipping</a></li>
            <li><a href="">Returns</a></li>
            <li><a href="">Order Status</a></li>
        </ul>
    </div>

    <div class="followUs">
        <h4>Our Contact</h4>
        <div class="visit">
           <li>Visit our bookstore</li>
           <li>111-222-333</li>
        </div>
    </div>

    <div class="followUs">
        <h4>Follow Us</h4>
        <div class="icons">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-linkedin"></i></a>
        </div>
    </div>

</footer>
