<!-- creating section for information to pass from rental form -->
<div class="infoPassed">
    <div class="leftInfo">
        <section>
            <p class="pickUp">{{pickUpTime.pickUpLocation}}</p>
            <p class="timeInfo">{{pickUpTime.pickUpDate}} , {{pickUpTime.pickUpTime}} </p>
        </section>

        <section style="margin: 20px;">
            <img src="/assets/arrowRight.svg" style="color: black;" alt="">
        </section>

        <section>
            <p class="pickUp">{{pickUpTime.dropOffLocation}}</p>
            <p class="timeInfo">{{pickUpTime.dropOffDate}} , {{pickUpTime.dropOffTime}} </p>
        </section>
    </div>

    <div><button class="editButton"routerLink="/home">Edit</button></div>
    
</div>

<!-- <div class="carTypes">
    <div style="display: flex; justify-content: space-around">
        <div>one</div>
        <div>two</div>
        <div>three</div>
        <div>four</div>
    </div>
</div> -->

<div class="carTypes">
    <div class="tabs">

        <div class="inner-div">
            A
        </div>

        <div class="inner-div">
            B
        </div>
        
        <div class="inner-div">
            C
        </div>
        
        <div class="inner-div">
            D
        </div>

    </div>
</div>
