<!-- creating section for information to pass from rental form -->
<div class="infoPassed">
    <div class="leftInfo">
        <section>
            <p class="pickUp">Dummy text for Pick Up</p>
            <p class="timeInfo">Time of pick up</p>
        </section>

        <section style="margin: 20px;">
            <img src="/assets/arrowRight.svg" style="color: black;" alt="">
        </section>

        <section>
            <p class="pickUp">Dummy text for Drop off</p>
            <p class="timeInfo">Time of drop off</p>
        </section>
    </div>

    <div><button class="editButton"routerLink="/home">Edit</button></div>
</div>
