

<!-- creating section for information to pass from rental form -->
<div class="infoPassed">
    <div class="leftInfo">
        <section>
            <p class="pickUp">{{pickUpTime.pickUpLocation}}</p>
            <p class="timeInfo">{{pickUpTime.pickUpDate}} , {{pickUpTime.time}} </p>
        </section>

        <section style="margin: 20px;">
            <img src="/assets/arrowRight.svg" style="color: black;" alt="">
        </section>

        <section>
            <p class="pickUp">{{pickUpTime.dropOffLocation}}</p>
            <p class="timeInfo">{{pickUpTime.dropOffDate}} , {{pickUpTime.time}} </p>
        </section>
    </div>

    <div><button class="editButton" (click)="editButton()">Edit</button></div>
    <app-rental-form *ngIf="clickedEdit == true"></app-rental-form>
    
</div>

<div class="carTypes">
    <div class="tabs">
  
            <div class="tab" *ngFor="let type of carTypes;" (click)="chooseType($event)">
                {{type}}
            </div>
    </div>
</div>

<div class="carsAndMap">
    <!-- cars available and details -->
    <!----------------- left container ----------------->
    <div class="car-details">
        <div class="car-detail" *ngFor="let car of pageSlice">
            <!----------------- image for each cars ------------------>
            <section class="car-detail-pic" >
                <img src="https://imgd.aeplcdn.com/1056x594/n/cw/ec/54399/exterior-right-front-three-quarter-10.jpeg?q=75&wm=1" alt="" width="100%">
            </section>
        
            <section class="car-detail-info">
                <p class="car-name">{{car.car_Make}} {{car.car_Model}}</p>
                <p class="car-type">{{car.car_Type}}</p>

                <!------------------- specifications for each car -------------------> 
                <div class="specifics">
                    <div class="specs user">
                        <img src="/assets/user.svg" alt="" class="spec-img">
                        <p>{{car.specs[0].passengers}}</p>
                        <span class="tooltiptext">{{car.specs[0].passengers}} adult passengers</span>
                    </div>

                    <div class="specs luggage">
                        <img src="/assets/luggage.svg" alt="" class="spec-img">
                        <p>{{car.specs[1].baggage}}</p>
                        <span class="tooltiptext">{{car.specs[1].baggage}} large bags</span>
                    </div>

                    <div class="specs door">
                        <img src="/assets/doors.svg" alt="" class="spec-img">
                        <p>{{car.specs[2].doors}} </p>
                        <span class="tooltiptext">{{car.specs[2].doors}} doors</span>
                    </div>
                </div>

                <div class="quote">
                    <div>
                        <svg viewBox="0 0 24 24" width="1em" height="1em"><path fill="#1273c4" d="M14.25 15.75h-.75a.75.75 0 0 1-.75-.75v-3.75a1.5 1.5 0 0 0-1.5-1.5h-.75a.75.75 0 0 0 0 1.5h.75V15a2.25 2.25 0 0 0 2.25 2.25h.75a.75.75 0 0 0 0-1.5zM11.625 6a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25.75.75 0 0 0 0 1.5.375.375 0 1 1 0-.75.375.375 0 0 1 0 .75.75.75 0 0 0 0-1.5zM22.5 12c0 5.799-4.701 10.5-10.5 10.5S1.5 17.799 1.5 12 6.201 1.5 12 1.5 22.5 6.201 22.5 12zm1.5 0c0-6.627-5.373-12-12-12S0 5.373 0 12s5.373 12 12 12 12-5.373 12-12z"></path></svg>
                        <a href="">Important info</a>
                     </div>
                    <div>
                        <svg viewBox="0 0 24 24" width="1em" height="1em"><path fill="#1273c4" d="M22.5 12v6a.75.75 0 0 1-.75.75H2.25A.75.75 0 0 1 1.5 18V6a.75.75 0 0 1 .75-.75h19.5a.75.75 0 0 1 .75.75v6zm1.5 0V6a2.25 2.25 0 0 0-2.25-2.25H2.25A2.25 2.25 0 0 0 0 6v12a2.25 2.25 0 0 0 2.25 2.25h19.5A2.25 2.25 0 0 0 24 18v-6zm-8.822-1.474l3.813 3.525a.75.75 0 1 0 1.018-1.102l-3.813-3.525a.75.75 0 1 0-1.018 1.102zM7.804 9.424L3.99 12.95a.75.75 0 1 0 1.018 1.102l3.813-3.525a.75.75 0 1 0-1.018-1.102zm14.65-5.027l-9.513 6.56a1.656 1.656 0 0 1-1.882 0l-9.513-6.56A.75.75 0 1 0 .694 5.63l9.513 6.56a3.156 3.156 0 0 0 3.586 0l9.513-6.56a.75.75 0 1 0-.852-1.234z"></path></svg>
                         <a href="">Email quote</a>
                    </div>
                </div>
            </section>
        
            <section class="car-detail-getCar">
                <div>
                    <p>Price for {{days.days}} {{days.days < 2 ? 'day':'days'}}</p> 
                    <h1>{{car.price * days.days | currency}}</h1>
                    <button class="getCar" (click)="viewDeal(car, days)" *ngIf="car.available >= 1">Rent</button>
                    <button class="getCar" *ngIf="car.available < 1" style="background-color: grey; cursor:not-allowed">Unavailable</button>
                </div>
            </section>
        </div>

        <!---------------------------- ends here -------------------------->
        
    </div>
    <!-- map showing location of cars -->
    <div class="map">
        <img src="https://image.adsoftheworld.com/ijtvz1who3nundvp8yqx30iv8fwl" alt="" width="100%" height="100%">
    </div>
</div>

<div class="paginator-container">
    <mat-paginator 
            [length]= cars.length        
            [pageSize]= 6
            [pageSizeOptions]= '[6, 12, 18, 100]'
            (page)="pageSize($event)"
            aria-label="Select page">
    </mat-paginator>
</div>



