<!---------------- slideshow component ----------------->
<app-slide-show [autoSlide]="false"></app-slide-show> 

<!---------------- car rental component ----------------->
<app-rental-form></app-rental-form>

<div style="margin: 30px 0px;">
    <h1 class="carListHeading">Our Cars</h1>
    <hr style="width: 6%; background-color: rgb(2, 2, 120); height: 1px;">
</div>

<!---------------- car card component ----------------->
<div class="cars">
    <app-cars [car]="car" *ngFor="let car of cars.slice(0, spliceContent)" class="car-item"></app-cars>
</div>

<div style="text-align:center;">
    <i class="fa fa-angle-double-down seeMore" aria-hidden="true" *ngIf="spliceContent < 6" (click)="seeMore()"></i>
    <i class="fa fa-angle-double-up seeMore" aria-hidden="true" *ngIf="spliceContent >= 6" (click)="seeLess()"></i>
</div>

<!---------------- another component ----------------->
<!-- <div class="filler" style="height: 40vh; margin-top:30px">
    <form [formGroup]="postCar" (submit)="postCarButton()">
        <input type="text" placeholder="car_Type">
        <input type="text" placeholder="car_Model">
        <input type="text" placeholder="car_img">
        <input type="text" placeholder="car_Make">
        <input type="number" placeholder="car_Year">
        <input type="number" placeholder="price">
        <input type="number" placeholder="times_rented">
        <input type="number" placeholder="quantity">

        <button>Submit</button>
    </form>
</div> -->
 