<div class="container">
    <form action="" [formGroup]="rentalForm" (submit)="rentalFormButton()">

     <!--------- pick up location and drop off location --------->
       <div class="input-field" >
            <!-- <input type="text" placeholder="Pick up Location" name="pickUpLocation" > -->
            <select name="" id="" formControlName="pickUpLocation" >
               <option value="" disabled selected>Pick up Location</option>
               <option value="{{location}}" *ngFor="let location of locations">{{location}}</option>
            </select>

            <select name="" id="" formControlName="dropOffLocation" >
               <option value="" disabled selected style="color: grey;">Drop off Location</option>
               <option value="{{location}}" *ngFor="let location of locations">{{location}}</option>
            </select>
            <!-- <input type="text" placeholder="Drop off Location" name="dropOffLocation" > -->
       </div>
     

        <!--------- pick up date and pick up time --------->
       <div class="input-field">
            <input type="text" onfocus="(this.type = 'date')" placeholder="Pick up Date" name="pickUpDate" formControlName="pickUpDate" [min] = min [(ngModel)]="nextTime" (change)="changeNext()"> 
            <input type="text" onfocus="(this.type = 'date')" placeholder="Drop off Date" name="dropOffDate" formControlName="dropOffDate" [min] = anotherTime >
       </div>
       
       <!--------- drop up date and drop off time --------->
       <div class="input-field">
            <!-- <input type="text" placeholder="Time" class="time" name="time" formControlName="time"> -->
            <select name="" id="" formControlName="time" class="time">
               <option value="" disabled selected style="color: grey;">Time</option>
               <option value="{{time}}" *ngFor="let time of time">{{time}}</option>
            </select>
       </div>

        <button>search</button>
    </form>
 
</div>

