<div class="AddCarForm">
    <form  [formGroup]="AddCarForm" (submit)="AddCars()">
        <i class="fa-solid fa-x" style="float: right; cursor:pointer;" (click)="closeModal()"></i>
           <p style="text-align: center; text-transform:uppercase; font-size:22px ;">Add Car</p>
            <div class="form-info">
                <section>
                    <label for="car_Type">Car Type</label>
                    <input type="text" name="car_Type" id="" placeholder="Type" formControlName="car_Type">
                </section>
                
                <section>
                    <label for="car_Model">Car Model</label>
                    <input type="text" name="car_Model" id="" placeholder="Model" formControlName="car_Model">
                </section>
            </div>

            <div class="form-info">
                <section>
                    <label for="car_Img">Car Image</label>
                    <input type="file" name="car_Img" id="" placeholder="Image" formControlName="car_Img" enctype="multipart/form-data">
                </section>
        
            </div>
          
            <div class="form-info">
                <section>
                    <label for="car_Year">Car Year</label> 
                    <input type="number" name="car_Year" id="" placeholder="Year" formControlName="car_Year">
                </section>
                
                <section>
                    <label for="car_Make">Car Make</label>
                    <input type="text" name="car_Make" id="" placeholder="Make" formControlName="car_Make">
                </section>
            </div> 

            <div class="form-info">
                <section>
                    <label for="price">Car Price</label>
                    <input type="text" name="price" id="" placeholder="price" formControlName="price">
                </section>
                
                <section>
                    <label for="times_rented">Times Rented</label>
                    <input type="number" name="times_rented" id="" placeholder="times_rented" formControlName="times_rented">
                </section>
            </div>  

            <div class="form-info">
                <section>
                    <label for="available">Available</label> 
                    <input type="number" name="available" id="" placeholder="available" formControlName="available">
                </section>
            </div>       
                
                
            <div class="form-info specs" formGroupName="specs">
                <section>
                    <label for="passengers">Passengers</label> 
                    <input type="number" name="passengers" id="" placeholder="passengers" formControlName="passengers">
                </section>
                
                <section>
                    <label for="baggage">Baggage</label>
                    <input type="number" name="baggage" id="" placeholder="baggage" formArrayName="baggage">
                </section>
                
                <section>
                    <label for="doors">Doors</label>
                    <input type="number" name="doors" id="" placeholder="doors" formArrayName="doors">
                </section>
            </div>  
        
        <button>Add</button>
    </form>
</div>
